<form method="post" action="{{ path('app_phone_validator_delete', {'id': phone_validator.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ phone_validator.id) }}">
    <button class="btn">Delete</button>
</form>
