{% extends 'base.html.twig' %}

{% block title %}New PhoneValidator{% endblock %}

{% block body %}
    <h1>Create new PhoneValidator</h1>

    {{ include('phone_validator/_form.html.twig') }}

    <a href="{{ path('app_phone_validator_index') }}">back to list</a>
{% endblock %}
